*{
    box-sizing:border-box;
}
.parent{
   
    height: 5rem;
    width: 60vw;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.color{
    height: 70%;
    width: 30%;
   
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}